<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e404012365c640b4a89b3369571be17b" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e404012365c640b4a89b3369571be17b = echarts.init(
            document.getElementById('e404012365c640b4a89b3369571be17b'), 'white', {renderer: 'canvas'});
        var option_e404012365c640b4a89b3369571be17b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "treemap",
            "name": "Zhengzhou",
            "data": [
                {
                    "city": "\u90d1\u5dde\u5e02",
                    "data": [
                        {
                            "cistrict": "\u91d1\u6c34\u533a",
                            "data": [
                                {
                                    "community": "\u5de5\u5b66\u9662\u5bbe\u9986",
                                    "data": []
                                },
                                {
                                    "community": "\u91d1\u6c34\u533a\u4eba\u6c11\u8def\u8857\u9053\u529e\u4e8b\u5904",
                                    "data": []
                                }
                            ]
                        },
                        {
                            "cistrict": "\u65b0\u90d1\u5e02",
                            "data": [
                                {
                                    "community": "\u9f99\u6e56\u9547",
                                    "data": []
                                }
                            ]
                        },
                        {
                            "cistrict": "\u65b0\u5bc6\u5e02",
                            "data": [
                                {
                                    "community": "\u767d\u5be8\u9547",
                                    "data": []
                                },
                                {
                                    "community": "\u4e09\u5c94\u53e3\u6751",
                                    "data": []
                                }
                            ]
                        },
                        {
                            "cistrict": "\u4e8c\u4e03\u533a",
                            "data": [
                                {
                                    "community": "\u4faf\u5be8\u9547",
                                    "data": []
                                }
                            ]
                        },
                        {
                            "cistrict": "\u60e0\u6d4e\u533a",
                            "data": [
                                {
                                    "community": "\u60e0\u6d4e\u533a\u5927\u6cb3\u8def\u8857\u9053\u529e\u4e8b\u5904",
                                    "data": []
                                }
                            ]
                        },
                        {
                            "cistrict": "\u7ba1\u57ce\u533a",
                            "data": [
                                {
                                    "community": "\u5357\u5173\u8857\u9053\u529e\u4e8b\u5904",
                                    "data": []
                                }
                            ]
                        },
                        {
                            "cistrict": "\u4e2d\u725f\u53bf",
                            "data": [
                                {
                                    "community": "\u767d\u6c99\u9547",
                                    "data": []
                                }
                            ]
                        },
                        {
                            "cistrict": "\u90d1\u4e1c\u65b0\u533a",
                            "data": [
                                {
                                    "community": "\u6797\u5c71\u5be8\u8857\u9053\u529e\u4e8b\u5904",
                                    "data": []
                                }
                            ]
                        }
                    ]
                }
            ],
            "width": "80%",
            "height": "80%",
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8
            },
            "upperlabel": {
                "show": true,
                "position": "inside",
                "margin": 8
            },
            "drillDownIcon": "\u25b6",
            "roam": true,
            "nodeClick": "zoomToNode",
            "zoomToNodeRatio": 0.1024,
            "levels": [
                {
                    "colorMappingBy": "index",
                    "itemStyle": {
                        "gapWidth": 4,
                        "borderColor": "#555",
                        "borderWidth": 4
                    }
                },
                {
                    "colorSaturation": [
                        0.3,
                        0.6
                    ],
                    "colorMappingBy": "index",
                    "itemStyle": {
                        "gapWidth": 2,
                        "borderWidth": 2,
                        "borderColorSaturation": 0.7
                    }
                },
                {
                    "colorSaturation": [
                        0.3,
                        0.5
                    ],
                    "colorMappingBy": "index",
                    "itemStyle": {
                        "gapWidth": 1,
                        "borderWidth": 0,
                        "borderColorSaturation": 0.6
                    }
                },
                {
                    "colorSaturation": [
                        0.3,
                        0.5
                    ],
                    "colorMappingBy": "index"
                }
            ],
            "colorMappingBy": "index",
            "visibleMin": 10
        }
    ],
    "legend": [
        {
            "data": [
                "Zhengzhou"
            ],
            "selected": {
                "Zhengzhou": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "TreeMap-Levels-setting",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_e404012365c640b4a89b3369571be17b.setOption(option_e404012365c640b4a89b3369571be17b);
    </script>
</body>
</html>
