<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e015094ca79e42acbcc24b5ad713b6fb" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e015094ca79e42acbcc24b5ad713b6fb = echarts.init(
            document.getElementById('e015094ca79e42acbcc24b5ad713b6fb'), 'white', {renderer: 'canvas'});
        var option_e015094ca79e42acbcc24b5ad713b6fb = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "treemap",
            "name": "Zhengzhou",
            "data": [
                {
                    "city": "Zhengzhou",
                    "path": "Zhengzhou",
                    "children": [
                        {
                            "name": "Xinzheng City",
                            "path": "Zhengzhou/Xinzheng City",
                            "children": [
                                {
                                    "name": "Longhu Town",
                                    "path": "Zhengzhou/Xinzheng City/Longhu Town"
                                },
                                {
                                    "name": "Xinjianlu Street",
                                    "path": "Zhengzhou/Xinzheng City/Xinjianlu Street"
                                },
                                {
                                    "name": "Xinhualu Street",
                                    "path": "Zhengzhou/Xinzheng City/Xinhualu Street"
                                },
                                {
                                    "name": "Mengzhuang Town",
                                    "path": "Zhengzhou/Xinzheng City/Mengzhuang Town"
                                }
                            ]
                        },
                        {
                            "name": "Jinshui District",
                            "path": "Zhengzhou/Jinshui District",
                            "children": [
                                {
                                    "name": "Cultural Road Street Office",
                                    "path": "Zhengzhou/Jinshui District/Cultural Road Street Office"
                                },
                                {
                                    "name": "Nanyangxincun Street Office",
                                    "path": "Zhengzhou/Jinshui District/Nanyangxincun Street Office"
                                },
                                {
                                    "name": "Jingbalu Street Office",
                                    "path": "Zhengzhou/Jinshui District/Jingbalu Street Office"
                                },
                                {
                                    "name": "Dashiqiao Street Office",
                                    "path": "Zhengzhou/Jinshui District/Dashiqiao Street Office"
                                },
                                {
                                    "name": "Renminlu Street Office",
                                    "path": "Zhengzhou/Jinshui District/Renminlu Street Office"
                                }
                            ]
                        },
                        {
                            "name": "Erqi District",
                            "path": "Zhengzhou/Erqi District",
                            "children": [
                                {
                                    "name": "Daxuelu Street Office",
                                    "path": "Zhengzhou/Erqi District/Daxuelu Street Office"
                                }
                            ]
                        }
                    ]
                }
            ],
            "width": "80%",
            "height": "80%",
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8
            },
            "upperlabel": {
                "show": true,
                "position": "inside",
                "margin": 8
            },
            "drillDownIcon": "\u25b6",
            "roam": true,
            "nodeClick": "zoomToNode",
            "zoomToNodeRatio": 0.1024,
            "levels": [
                {
                    "colorMappingBy": "index",
                    "itemStyle": {
                        "gapWidth": 4,
                        "borderColor": "#555",
                        "borderWidth": 4
                    }
                },
                {
                    "colorSaturation": [
                        0.3,
                        0.6
                    ],
                    "colorMappingBy": "index",
                    "itemStyle": {
                        "gapWidth": 2,
                        "borderWidth": 2,
                        "borderColorSaturation": 0.7
                    }
                },
                {
                    "colorSaturation": [
                        0.3,
                        0.5
                    ],
                    "colorMappingBy": "index",
                    "itemStyle": {
                        "gapWidth": 1,
                        "borderWidth": 0,
                        "borderColorSaturation": 0.6
                    }
                },
                {
                    "colorSaturation": [
                        0.3,
                        0.5
                    ],
                    "colorMappingBy": "index"
                }
            ],
            "colorMappingBy": "index",
            "visibleMin": 10
        }
    ],
    "legend": [
        {
            "data": [
                "Zhengzhou"
            ],
            "selected": {
                "Zhengzhou": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "TreeMap-Levels-setting",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_e015094ca79e42acbcc24b5ad713b6fb.setOption(option_e015094ca79e42acbcc24b5ad713b6fb);
    </script>
</body>
</html>
